body{
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		padding-top: 110px;
    padding-bottom: 20px;
}

/* BUTTONS:*/
/* --Save */
.btn-outline-save {
	color: #085283;
	background-color: transparent;
	background-image: none;
	border-color: #085283
}

.btn-outline-save:hover {
	color: #fff;
	background-color: #085283;
	border-color: #085283
}

.btn-outline-save.focus,
.btn-outline-save:focus {
	box-shadow: 0 0 0 .2rem rgba(40, 131, 167, 0.5)
}

.btn-outline-save.disabled,
.btn-outline-save:disabled {
	color: #085283;
	background-color: transparent
}

/* --Download */
.btn-outline-download {
	color: #4d4c12;
	background-color: transparent;
	background-image: none;
	border-color: #fcf811
}

.btn-outline-download:hover {
	color: rgb(31, 28, 28);
	background-color: #fcf811;
	border-color: #fcf811
}

.btn-outline-download.focus,
.btn-outline-download:focus {
	box-shadow: 0 0 0 .2rem rgba(140, 167, 40, 0.5)
}

.btn-outline-download.disabled,
.btn-outline-download:disabled {
	color: #fcf811;
	background-color: transparent
}


/* --Delete */
.btn-outline-delete {
	color: #f70a0a;
	background-color: transparent;
  background-image: none;
	border-color: #f70a0a
}

.btn-outline-delete:hover {
	color: rgb(37, 10, 10);
	background-color: #f70a0a;
	border-color: #f70a0a
}

.btn-outline-delete.focus,
.btn-outline-delete:focus {
	box-shadow: 0 0 0 .2rem rgba(167, 70, 40, 0.5)
}

.btn-outline-delete.disabled,
.btn-outline-delete:disabled {
	color: #f70a0a;
	background-color: transparent
}


.asterisk{
	color: red;
}

/* Icons */
.inner-addon {
  position: relative;
}

.fa-ban{
    color: beige;
    margin-right: 15px;
}

/* style glyph */
.inner-addon .fas {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .fas  { left:  14px;}
.right-addon .fas { right: 14px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.left-addon select  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

#note{
    font-size: 12px;
    color: darkslategray;
}

.add-contact{
  padding: 0px 0px 5px;
  border-radius: 5px;
  box-shadow: 0 0 0 .2rem rgba(154, 155, 134, 0.226)
}