body{
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}


/* AddContactForm */
fieldset{
	border-radius: 5px;
	background-color: #d2ecee;
	padding: 10px;
}

input[type=text], input[type=number], input[type=email] {
	width: 150px;
	padding: 5px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 25%;
	border: none;
	padding: 5px 5px;
	margin: 8px 0;
	border-radius: 4px;
}

input[type=submit]:hover {
	background-color: #4AD9D9;
	color: antiquewhite;
}

input:valid{
	background-color: rgb(255, 255, 255);
}

input:invalid{
	background-color: #FFA49A;
}



/* Contact list */
table{
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #ddd;
	padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #36B1BF;
	color: white;
}

/* Buttons */
